@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
	margin: 0;
	background-color: rgb(240, 240, 254);
}


#loading {
	margin-top: 4.8rem;
	text-align: center;
	font-family: 'Inter', sans-serif;
	letter-spacing: 1px;
	color: rgb(3, 3, 79);
	font-size: 3.9rem;
}

/* title css */
.title {
	margin: auto;
	margin-top: 4.6rem;
}

.title h1 {
	text-align: center;
	font-family: 'Inter', sans-serif;
	letter-spacing: 1px;
	color: rgb(3, 3, 79);
	font-size: 2.5rem;
}

.underline {
	height: 0.25rem;
	width: 5rem;
	margin-left :auto;
	margin-right: auto;
	margin-bottom: 2rem;
	margin-top: -1.1rem;
	background-color: rgb(84, 147, 209);
}
/* title css */



/* button container */
.btn-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 1rem;
}

.btn-container button {
	text-align: center;
	border: none;
	background-color: transparent;
	font-size: 1.25em;
	letter-spacing: 1.5px;
	cursor: pointer;
	height: 2.5rem;
	width: 200px;
}

.btn-container button:hover {
	color:rgb(84, 147, 209);
	box-shadow: -2px 0 0 rgb(84, 147, 209);
	transition: 0.5s ease;
}


.active-btn {
	color:rgb(84, 147, 209);
	box-shadow: -2px 0 0 rgb(84, 147, 209);
}
/* button container */



/* jobs center */
.jobs-center {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 4rem;
	margin-top: 2.8rem;
	margin-left: 0.5rem;

}
/* jobs center */


/* jobs info */
.jobs-info {
	width: 900px;
}

.jobs-info h2 {
	letter-spacing: 1.5px;
	font-weight: 200;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 1.6em;
}

.jobs-info h4 {
	display: inline-block;
	padding: 0.375rem 0.75rem;
	background-color: rgb(223, 219, 253);
	margin-top: -1em;
	letter-spacing: 1.5px;
	font-size: 0.92em;
	color: rgb(110, 111, 129);
	font-weight: 900;
	border-radius: 5px;
}

#dates {
	color: rgb(110, 125, 139);
	letter-spacing: 1.5px;
	font-size: 1.05em;
	margin-bottom: 0.8em;
	margin-top: -0.3em;
}
/* jobs info */



/*job desc*/
.job-desc {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	column-gap: 2rem;
}

.job-desc p {
	font-size: 1.3em;
	letter-spacing: 1.2px;
	line-height: 1.4em;
	color: rgb(57, 94, 112);
	font-family: 'Work Sans', sans-serif;
}

.arrow {
	color: rgb(0, 115, 255);
}

/*jobs desc*/


@media only screen and (max-width:1180px){
	.jobs-info {
		width: 600px;
	}
}

@media only screen and (max-width:850px){
	.jobs-info {
		width: 400px;
	}
}

@media only screen and (max-width:680px){
	.title h1 {
		font-size: 2.2rem;
	}
	.btn-container {
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 3em;
		width: 450px;
	}
	.btn-container button {
		font-size: 1.2em;
	}
	.jobs-center {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

@media only screen and (max-width:480px){ 
	.title {
		margin-left: 15%
	}
	.title h1 {
		font-size: 2rem;
	}
	.btn-container {
		flex-direction: column;
		align-items: flex-start;
		margin-left: 5em;
	}
	.btn-container button {
		padding-left: 2em;
	}
	.jobs-info {
		width: 360px;
	}
	.jobs-info h2 {
		font-size: 1.4em;
	}
}

@media only screen and (max-width:395px){ 
	.title h1 {
		font-size: 2rem;
	}
	.title {
		margin-left: 15%
	}
	.btn-container {
		margin-top: 2.5em;
		flex-direction: column;
		align-items: flex-start;
		margin-left: 12em;
	}
	.jobs-info {
		width: 310px;
		margin-left: 1em;
	}
	.jobs-info h2 {
		font-size: 1.35em;
	}
}
@media only screen and (max-width:290px){ 
	.jobs-info {
		width: 250px;
		margin-left: 1em;
	}
}